* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-size: 12px;
    font-family: ubuntu, helvetica, arial;
    overflow: hidden; /* this is important to prevent the whole page to bounce */
}
img{
    border:none;
}

#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background:#00a1d9;
    padding: 0;
    color: #eee;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#footer {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #444;
    padding: 0;
    border-top: 1px solid #444;
}

#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    background:#fff;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.message-person{
    width:100%;
    height:3rem;
    background:url(../img/ms.jpg) no-repeat;
    background-size: cover;
    background-position:0 0.02rem;
    position:relative;
}
.message-intro{
    width:70%;
    height:1.2rem;
    border:0.01rem solid #666;
    position:absolute;
    left:15%;
    top:10%;
    color:#fff;
    text-align: center;
}
.message-guanzhu{
    width:50%;
    height:0.5rem;
    color:#fff;
    line-height:0.05rem;
    border:0.01rem solid #666;
    position:absolute;
    left:25%;
    top:40%;
    text-align: center;
}
.message-content{
    width:100%;
    height:0.5rem;
    background: #ccc;
    line-height: 0.5rem;
}
.message-content p{
    font-size: 0.2rem;
    color:#666;
}
.message-replay{
    width:100%;
    height:2rem;
    border:0.01rem solid #ccc;
    margin-top:0.2rem;
    position:relative;
}
.message-left{
    width:1rem;
    height:1rem;
    border:0.01rem solid #ccc;
    margin-top:0rem;
}
.message-right{
    text-align: center;
    box-sizing: border-box;
    width:10rem;
    height:3rem;
    float:right;
    margin-top:-1rem;
    position:relative;
}
.message-right h1{
    font-size:0.3rem;
}
.message-right p{
    line-height: 0.5rem;
}
.message-right span{
    color:#ccc;
}
.message-pinglun {
    display:block;
    color:red;
    text-decoration: none;
    position:absolute;
    left:5rem;
    top:1.5rem;
}
.message-favorite {
    display:block;
    color:red;
    text-decoration: none;
    position:absolute;
    left:6rem;
    top:1.5rem;
}

